.container
{
    max-width: 100%;
    height:100%;
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-image: url(mini.jpg);
    
    
}

.div1{
   max-width: 80%;
    height: 100%;
    background:black;
    align-items: center;
    padding: 1rem;
    display: block center;
    text-align: center;
    margin: auto;
    opacity: 70%;

}
.header
{
    height: 50px;
    text-align: center bold;
    background-color: rgb(252, 255, 47);
    padding: 2rem;
    color: blue;
    text-align: center;
    opacity: 80%;
  
    

}
 #txtinput{
     width: 70%;
     height: 80%;
     padding: 2rem;
     border: yellow solid;
     margin: 1rem;
    
 }
 #btntranslate{
    display: block;
    border: solid rgb(52, 6, 6);
    height: 7vh;
    width: 100px;
    color: blue;
    align-items: right;
    text-align: center;
    margin: auto;
    background-image: url(banana.webp);
 }

 #output{

     height: 80%;
     width: 70%;
     background-color: white;
     border:3px solid yellow;
     padding:2rem;
     align-items: center;
     text-align: center;
     margin: auto;
   

 }