@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap");

.nav {
    width: 100%;
    height: 30px;
    color: white;
    text-align: left;
    padding: 0.5rem;
    }
  

.li{
    text-decoration: none;
    text-shadow: black;
    color:white;
    

}
body {
    margin: auto;
    align-items: right;
    align-self: right;
    align-content: right;
    margin: auto;
    text-align: center;
    max-width: 100%;
    background-image: url("khal.jpg");
    background-repeat: no-repeat;
    font-family: 'Padauk', sans-serif;


}



#txtinput {
    width: 95%;
    height: 5%;
    padding: 1rem;
    margin-right: 20px;
    align-items: right;
    text-align: center;
    display: block;
}

#output {
    max-width: 100%;
    height: 50%;
    border: 2px solid black;
    align-items: right;
    padding: 2rem;
    margin: auto;
    background-color: white;
    display: block;

}

.header {
    width: auto;
    height: 35px;
    background-color: rgb(125, 29, 29);
    color: aliceblue;
    display: block;
    padding: 2rem;
    margin: auto;
    opacity: 50%;
    text-align: center;
}

.div1 {
    position: absolute;
    right: 15px;
    width: 600px;
    height: auto;

    padding: 2rem;
}

#btnrewrite {
    width: 20%;
    height: 8vh;
    color: wheat;
    background-color: rgb(56, 44, 44);

}

.para {
    color: #73AD21;
    ;
}